input:focus{
    background-color: lightgray;
}

input:required:invalid{
    background-color: lightyellow;
}


html{
    background-image: url(/images/simple_gray_background-wallpaper-1680x1050.jpg)
}

body{
    width: 80%;
    margin: 100px;
    padding: 20px;
    background-color: lightgrey;
    border-radius: 10px;
}