div {
    border-radius: 10px;
    padding: 10px;
}

body div {
    background-color: rgb(141, 174, 206);
    margin-bottom: 10px;
}

/*-------------------------------------------*/

.div1 {
    background-color: lightblue;
    font-weight: bold;
    font-size: 1.5rem;
}

.div2 {
    background-color: lightcoral;
}

.div3 {
    background-color: lightgreen;
}

.div4 {
    background-color: lightyellow;
}

.div5 {
    background-color: lightseagreen;
}

/*-------------------------------------------*/

/*-------------flex:1 ------------------------------*/

.cont1 div {
    flex: 1;
}

.cont1 {
    display: flex;
    flex-flow: row nowrap;
}

/*-------------default...------------------------------*/

.cont2 {
    display: flex;
    flex-flow: row nowrap;
}

/*-------------justify-content------------------------------*/

.cont3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.cont4 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.cont5 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.cont6 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.cont7 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.cont7_1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.cont7_2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.cont7_2 div {
    flex-grow: 1;
    width: 100px;
}

/*----align items-------*/

.cont8 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.cont9 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.cont10 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cont11 {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.cont12 {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

/*-------align content-------*/

.cont13 {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    height: 500px;
}

.cont14 {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    height: 500px;
}

.cont15 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    height: 500px;
}

.cont16 {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    height: 500px;
}

.cont17 {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    height: 500px;
}

/*-------order----------*/

.cont18 {
    display: flex;
    flex-flow: row nowrap;
}

.cont18 .div1 {
    order: 3;
}

.cont18 .div2 {
    order: 1;
}

/*------align-self----------*/

.cont19 {
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
}

.cont19 .div1 {
    align-self: flex-start;
}

.cont19 .div2 {
    align-self: flex-end;
}

.cont19 .div3 {
    align-self: center;
}

.cont19 .div4 {
    align-self: baseline;
}

.cont19 .div5 {
    align-self: stretch;
}

/*--------------flex---1 3 1 -----*/
/*parent*/
.cont20 {
    display: flex;
    flex-flow: row wrap;
}

/*child*/
.cont20 .div1 {
    /*equal to flex:1*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.cont20 .div2 {
    /*equal to flex:3*/
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}

.cont20 .div3 {
    /*equal to flex:1*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


/*--------------flex---0 1 xxxpx -----*/
/*parent*/
.cont21 {
    display: flex;
    flex-flow: row nowrap;
}

/*child*/
.cont21 .div1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
}

.cont21 .div2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 200px;
}

.cont21 .div3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 300px;
}


/*--------------flex--1/2/4 1 250px -----*/
/*parent*/
.cont22 {
    display: flex;
    flex-flow: row nowrap;
}

/*child*/
.cont22 .div1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
}

.cont22 .div2 {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 250px;
}

.cont22 .div3 {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 250px;
}

/*--------------flex--1 1 -----*/
/*parent*/
.cont23 {
    display: flex;
    flex-flow: row nowrap;
}

/*child*/
.cont23 .div1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1%;
}

.cont23 .div2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1%;
}

.cont23 .div3 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 99%;
}



/*--------------flex--playground -----*/
/*parent*/
.cont24 {
    display: flex;
    flex-flow: row wrap;
}

/*child*/
.cont24 .div1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.cont24 .div2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.cont24 .div3 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


/*--------------flex--playground -----*/
/*parent*/
.cont25 {
    display: flex;
    flex-flow: row nowrap;
}

/*child*/
.cont25 .div1 {
    font-weight: normal;
    font-size: 1rem;

    width: 100px;

    /* flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 10%;*/
}

.cont25 .div2 {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}


/*************************/

.upper {
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 80px;
    border: 1px red solid;

    padding: 5px;
    /* this */
}

.upper>div {
    flex: 1 1 auto;
    border: 1px red solid;
    text-align: center;

    margin: 5px;
    /* and that, will result in a 10px gap */
}


.upper.mc

/* multicol test */
    {
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
}


.box {
    display: flex;
    justify-content: stretch;
    /* width: 1000px; */
    border: 1px solid red;

}

.item {
    width: 100px;
    border: 1px solid green;
    flex-grow: 1;
}